<header class="header-area">
  <div class="container">

    <div class="col-lg-4 left-side">
      <div class="logo"><a href="index-1.html"> <img src="/assets/img/top-logo.png" alt=""></a></div>
      <div class="call-id-sec">+91 8758274941</div>
    </div>
    <div class="col-lg-8 right-side">
      <div class="menu-bar">
        <nav>
          <ul class="menu">
            <li>
              <a href="#">Home</a>
              <ul class="single-item">
                <li><a href="index.html">Index 1</a></li>
                <li><a href="index-1.html">Index 2</a></li>
                <li><a href="index-2.html">Index 3</a></li>
              </ul>
            </li>
            <li>
              <a href="#">Jobs</a>
              <ul class="single-item">
                <li><a href="jobs.html">Job Page</a></li>
                <li><a href="job-detail.html">Job In Details</a></li>
                <li><a href="pricing-table.html">Pricing Tables</a></li>
                <li><a href="post-job.html">Post a Job</a></li>
              </ul>
            </li>
            <li><a href="companies.html">Companies</a></li>
            <li>
              <a href="#">Resume</a>
              <ul class="single-item">
                <li><a href="resume.html">Resume Page</a></li>
                <li><a href="submit-resume.html">Submit Resume</a></li>
                <li><a href="candidates.html">Browse Candidates</a></li>
              </ul>
            </li>
            <li>
              <a href="#">pages</a>
              <ul>
                <li>
                  <div class="half-div">
                    <a href="category.html">Categories</a>
                    <a href="login
                      ">Login / Register</a>
                    <a href="blog.html">Blog</a>
                    <a href="single-article.html">Single Article</a>
                    <a href="right-content.html">Right + Content</a>
                    <a href="left-content.html">Left + Content</a>
                  </div>
                  <div class="half-div">
                    <a href="3-column.html">3 Columns</a>
                    <a href="4-column.html">4 Columns</a>
                    <a href="error-page.html">Error page</a>
                    <a href="typography.html">Typography</a>
                    <a href="shortcodes.html">Shortcodes</a>
                    <a target="_blank" href="maintenance.html">Maintenance</a>
                  </div>
                </li>
              </ul>
            </li>
            <li><a href="contact.html">contact</a></li>
            <li><a [routerLink]="['/login']" class="button-medium">Login / Logout</a></li>
          </ul>
        </nav>
      </div>
    </div>
    <div class="mob-icon"><i class="fa fa-bars"></i></div>
    <div id="side-panel-menu">
      <a href="login.html" class="button-medium">Login / Logout</a>
      <ul>
        <li>
          <a href="#">Home</a>
          <ul>
            <li><a href="index.html">Index 1</a></li>
            <li><a href="index-1.html">Index 2</a></li>
            <li><a href="index-2.html">Index 3</a></li>
          </ul>
        </li>
        <li>
          <a href="#">Jobs</a>
          <ul>

            <li><a href="jobs.html">Jobs </a></li>
            <li><a href="job-detail.html">Job Detail Page</a></li>
            <li><a href="pricing-table.html">Pricing Tables</a></li>
            <li><a href="post-job.html">Post a Job</a></li>
          </ul>
        </li>
        <li><a href="companies.html">Companies</a></li>
        <li>
          <a href="resume.html">Resume</a>
          <ul>
            <li><a href="resume.html">Resume Page</a></li>
            <li><a href="submit-resume.html">Submit Resume</a></li>
            <li><a href="candidates.html">Browse Candidates</a></li>
          </ul>
        </li>
        <li>
          <a href="#">Pages</a>
          <ul>
            <li><a href="category.html">Categories</a></li>
            <li><a href="login.html">Login / Register</a></li>
            <li><a href="blog.html">Blog</a></li>
            <li><a href="single-article.html">Single Article</a></li>
            <li><a href="right-content.html">Right + Content</a></li>
            <li><a href="left-content.html">Left + Content</a></li>
            <li><a href="3-column.html">3 Columns</a></li>
            <li><a href="4-column.html">4 Columns</a></li>
            <li><a href="error-page.html">Error page</a></li>
            <li><a href="typography.html">Typography</a></li>
            <li><a href="shortcodes.html">Shortcodes</a></li>
            <li><a target="_blank" href="maintenance.html">Maintenance</a></li>
          </ul>
        </li>
        <li><a href="contact.html">contact</a></li>
      </ul>
    </div>

  </div>
</header>
