<footer class="footer-area">
    <div class="top-sec">
      <div class="container">
        <div class="col-lg-3">
          <div class="logo"><a href="index.html"> <img src="/assets/img/top-logo.png" alt=""></a></div>
          <p>Subscribe to our newsletter </p>
          <form>
            <input placeholder="Email Address" class="text-field-box">
            <button class="button-medium">Subscribe</button>
          </form>
        </div>
        <div class="col-lg-3">
          <h6>For Candidates</h6>
          <ul class="list-style-caret-left">
            <li><a href="jobs.html">Browse Jobs</a></li>
            <li><a href="category.html">Browse Categories</a></li>
            <li><a href="companies.html">Browse Companies</a></li>
            <li><a href="submit-resume.html">Submit Resume</a></li>
            <li><a href="login.html">Register Now1</a></li>
            <li><a href="pricing-tables">Job Packages</a></li>
          </ul>
        </div>
        <div class="col-lg-3">
          <h6>For Employers</h6>
          <ul class="list-style-caret-left">
            <li><a href="candidates.html">Browse Candidates</a></li>
            <li><a href="login.html">Login</a></li>
            <li><a href="post-job.html">Add Job</a></li>
            <li><a href="pricing-tables">Pricing Tables</a></li>
          </ul>
        </div>
        <div class="col-lg-3">
          <h6>Other</h6>
          <ul class="list-style-caret-left">
            <li><a href="shortcodes.html">Shortcodes</a></li>
            <li><a href="jobs.html">Job Page</a></li>
            <li><a href="job-detail.html">Job Page Alternative</a></li>
            <li><a href="resume.html">Resume Page</a></li>
            <li><a href="blog.html">Blog</a></li>
            <li><a href="contact.html">Contact</a></li>
          </ul>
        </div>
      </div>
    </div>
    <div class="copyright">
      <div class="container">
        <p><span>© Jober 2016</span>    •   Handcrafted with love by <a href="http://responsiveexpert.com">Responsiveexpert </a>Team</p>
      </div>
    </div>
  </footer>