<script src="https://code.jquery.com/jquery-3.5.0.min.js"></script>


<!-- Content Area Start 
====================================================== -->
<section class="content-area-sec">
    <!-- Start:Login/Register Area-->
    <div class="container">
        <div class="login-sec">
            <div class="content-area">
                <div class="tab-area">
                    <ul class="tab-menu">
                      <li class="active" rel="tab1">Login</li>
                      <li rel="tab2">Register</li>
                    </ul>
                    <!--Start:tab-container -->
                    <div class="tab-container">
                        <!--Start:tab1 -->
                        <h6 class="tab-heading" rel="tab1">Login</h6>
                        <div id="tab1" class="tab-content">
                            
                            <!-- Start:Heading -->
                            <div class="col-lg-12">
                                <h4>Login</h4>
                            </div>
                            <!-- End:Heading -->
                            <form class="form-area">
                                <!-- Start:User Name -->
                                <div class="col-lg-12">
                                    <label>User Name</label>
                                    <input  type="text"  class="text-field-box normal borderd smoke-white">
                                </div>
                                <!-- End:User Name -->
                                
                                <!-- Star:Password -->
                                <div class="col-lg-12">
                                    <label>Password</label>
                                    <input  type="text"  class="text-field-box normal borderd smoke-white">
                                </div>
                                <!-- End:Password -->
                                <div class="container">
                                       <p><label>
                                            <button  class=" button-normal">Login</button>Don't have an account?
                                            <a href="#"> Sign up now!</a>|<a href="#">Lost Password?</a>
                                       </label>
                                    </p>
                                </div>
                                
                            </form>
                        </div>
                        <!-- End:tab1 -->
                        
                        <!--Start:tab2 -->
                        <h6 class=" tab-heading" rel="tab2">Register</h6>
                        <div id="tab2" class="tab-content">
                            <!-- Start:Heading -->
                            <div class="col-lg-12">
                                <h4>Register</h4>
                            </div>
                            <!-- End:Heading -->
                            <form class="form-area">
                                <!-- Start:User Name -->
                                <div class="col-lg-12">
                                    <label>User Name</label>
                                    <input  type="text"  class="text-field-box normal borderd smoke-white">
                                </div>
                                <!-- End:User Name -->
                                
                                <!-- Star:Email -->
                                <div class="col-lg-12">
                                    <label>Email</label>
                                    <input  type="text"  class="text-field-box normal borderd smoke-white">
                                </div>
                                <!-- End:Email -->
                                
                                <!-- Star:Password -->
                                <div class="col-lg-12">
                                    <label>Password</label>
                                    <input  type="text"  class="text-field-box normal borderd smoke-white">
                                </div>
                                <!-- End:Password -->
                                
                                <!-- Star:Confirm Password -->
                                <div class="col-lg-12">
                                    <label>Confirm Password</label>
                                    <input  type="text"  class="text-field-box normal borderd smoke-white">
                                </div>
                                <!-- End:Confirm Password -->
                                
                                <!-- Start:I'm looking.. -->
                                <div class="col-lg-12">
                                    <label>I'm looking..</label>
                                    <select  class="text-field-box normal borderd smoke-white">
                                        <option>..for a job</option>
                                        <option>..to hire</option>
                                    </select>
                                </div>
                                <!-- End:I'm looking.. -->
                                
                                <div class="container">
                                    <label><button class=" button-normal">Register your Account</button></label>
                                </div>
                            </form>
                        </div>
                        <!-- End:tab2 -->
 
                    </div>
                    <!--End:tab-container -->
                </div>
            </div>
        </div>
    </div>     
    <!-- End:Login/Register Area-->
</section>
<!-- =================================================
Content Area End -->
